<%= form_with(model: [commentable, Comment.new], local: true, class: 'comment-form') do |form| %>
  <div class="form-group">
    <%= form.label :content, t('views.comments.content'), class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', rows: 3, placeholder: t('views.comments.placeholder') %>
  </div>
  <div class="form-actions">
    <%= form.submit t('views.comments.submit'), class: 'btn btn-primary' %>
  </div>
<% end %> 