<h1><%= t('books.edit.title') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('books.index.show_this_book'), @book %> |
  <%= link_to t('books.show.back_to_books'), books_path %>
</nav>
